@model RateLimit
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Ratelimit Used :@Model.RatelimitUsed</th>
            <th scope="col">Ratelimit Remaining:@Model.RatelimitRemaing</th>
            <th scope="col">Ratelimit Reset :@Model.RatelimitReset</th>
        </tr>
    </thead>
</table>